STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

PAYSTACK_LIVE_SECRET_KEY=
PAYSTACK_LIVE_PUBLIC_KEY=
PAYSTACK_TEST_SECRET_KEY=
PAYSTACK_TEST_PUBLIC_KEY=

RESEND_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NOTION_INTEGRATION_SECRET=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
